/************custon-propite************/
:root {
  --Dark-Mode-Elements: hsl(209, 23%, 22%);
  --Dark-Mode-Background: hsl(207, 26%, 17%);
  --Light-Mode-Text: hsl(200, 15%, 8%);
  --Light-Mode-Input: hsl(0, 0%, 52%);
  --Light-Mode-Background: hsl(0, 0%, 98%);
  --Dark-Mode-Text-Light-Mode-Elements: hsl(0, 0%, 100%);
}

/****************reset*******************/
html {
  box-sizing: border-box;
  font-family: var(--font-famili);
  font-size: 18px;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}
body {
  margin: 0;
  overflow-x: hidden;
}

a {
  transition: all 0.5s ease-out;
}

a:hover {
  opacity: 0.75;
}
h1 {
  margin: 0;
  font-size: 2rem;
}
h2 {
  margin: 0;
  font-size: 1.5rem;
}
h3 {
  margin: 0;
  font-size: 1.25rem;
}
h4 {
  margin: 0;
  font-size: 1rem;
}
h5 {
  margin: 0;
  font-size: 0.85rem;
}
h6 {
  margin: 0;
  font-size: 0.5rem;
}
img {
  max-width: 100%;
  height: auto;
}
p {
  line-height: 1.6;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
